html{
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

.nav{
    display: flex;
    align-items: center;
    padding: 20px 20px;
    border-bottom: 1px solid #dddddd;
}

.logo{
    height: 30px;
    width: 30px;
}

.title{
    margin-left: 5px;
    margin-right: 20px;
    font-size: 20px;
    color: blue;
    text-decoration: none;
}

.nav-item{
    padding: 5px 20px;
    color: crimson;
    text-decoration: none;
}

.nav-item:hover{
    background-color: #dddddd;
}

.nav-item.active{
    color: blue;
    text-decoration: none;
}

.content{
    padding: 0px 20px;
}

.btn{
    padding: 0px 20px;
}